.title {
  margin-left: 15px;
  text-align: center;
}

.main {
  margin: 0px;
  padding: 0px;
  text-transform: capitalize;
  font-size: 15px;
  max-width: 500px;
  margin: 30px auto;
  min-height: 300px;
  padding: 30px;
  border: 1px solid black;
  border-radius: 5px;
}

.main .inputData {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.main .inputData .inputBox {
  width: 250px;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-size: 20px;
}

.main .inputData .selectGender {
  margin-bottom: 10px;
  text-transform: capitalize;
  font-size: 20px;
  border-radius: 1px;
}

.button {
  margin: 20px 0 0 15px;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-left: 15px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
}

.display {
  margin-top: 20px;
  padding: 10px;
  width: auto;
  font-size: 35px;
  text-transform: capitalize;
  text-align: center;
}
